<?xml version="1.0" ?>
<configuration>
	<location path="." allowOverride="false" inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules configSource="web_config\rewrite.config"/>
			</rewrite>
			<defaultDocument configSource="web_config\default.config"/>
			<httpErrors configSource="web_config\httpErrors.config"/>
			<handlers configSource="web_config\php.config"/>
		</system.webServer>
	</location>
</configuration>
