<?xml version="1.0" ?>
<defaultDocument>
	<files>
		<clear/>
		<add value="index.php"/>
		<add value="index.aspx"/>
		<add value="index.asp"/>
		<add value="default.html"/>
		<add value="Default.htm"/>
		<add value="Default.asp"/>
		<add value="index.htm"/>
		<add value="index.html"/>
		<add value="iisstart.htm"/>
		<add value="default.aspx"/>
	</files>
</defaultDocument>
