<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlznsb.iossupersign.mapper.DeviceCommandTaskMapper">

    <resultMap id="BaseResultMap" type="com.wlznsb.iossupersign.entity.DeviceCommandTaskEntity">
            <id property="taskId" column="task_id" jdbcType="VARCHAR"/>
            <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
            <result property="cmd" column="cmd" jdbcType="VARCHAR"/>
            <result property="execResult" column="exec_result" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="execTime" column="exec_time" jdbcType="TIMESTAMP"/>
            <result property="resultTime" column="result_time" jdbcType="TIMESTAMP"/>
            <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
            <result property="pushCount" column="push_count" jdbcType="INTEGER"/>
            <result property="execResultStatus" column="exec_result_status" jdbcType="VARCHAR"/>
            <result property="cmdAppend" column="cmd_append" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="certId" column="cert_id" jdbcType="VARCHAR"/>
            <result property="udid" column="udid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,device_id,cmd,
        exec_result,create_time,exec_time,
        result_time,task_status,push_count,
        exec_result_status,cmd_append,remark,
        cert_id,udid
    </sql>

</mapper>
