<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlznsb.iossupersign.mapper.IosSignSoftwareDistributeStatusMapper">

    <resultMap id="BaseResultMap" type="com.wlznsb.iossupersign.entity.IosSignSoftwareDistributeStatusEntity">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="iosId" column="ios_id" jdbcType="VARCHAR"/>
            <result property="certId" column="cert_id" jdbcType="VARCHAR"/>
            <result property="appName" column="app_name" jdbcType="VARCHAR"/>
            <result property="appVersion" column="app_version" jdbcType="VARCHAR"/>
            <result property="pageName" column="page_name" jdbcType="VARCHAR"/>
            <result property="downUrl" column="down_url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,account,ios_id,
        cert_id,app_name,app_version,
        page_name,down_url,status,
        create_time,update_time
    </sql>
    <select id="selectByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ios_sign_software_distribute_status
        where
        account = #{account,jdbcType=VARCHAR}
    </select>
</mapper>
