<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlznsb.iossupersign.mapper.SoftwareDistributeDownRecordMapper">

    <resultMap id="BaseResultMap" type="com.wlznsb.iossupersign.entity.SoftwareDistributeDownRecordEntity">
            <id property="recordId" column="record_id" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="INTEGER"/>
            <result property="appName" column="app_name" jdbcType="VARCHAR"/>
            <result property="appPageName" column="app_page_name" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,app_id,app_name,
        app_page_name,ip,create_time,
        account
    </sql>
    <select id="selectByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from software_distribute_down_record
        where
        account = #{account,jdbcType=VARCHAR}
    </select>

    <select id="selectByAccountCount" resultType="integer">
        select
        count(*)
        from software_distribute_down_record
        where
        account = #{account,jdbcType=VARCHAR}

    </select>

    <select id="selectByUuidCount" resultType="integer">
        select
        count(*)
        from software_distribute_down_record
        where
        app_id = #{appId,jdbcType=VARCHAR}
        <if test="day == 'day'">
            and to_days(create_time) = to_days(now())
        </if>
        <if test="day == 'lastDay'">
            and TO_DAYS(NOW( )) - TO_DAYS(create_time) = 1
        </if>

    </select>
</mapper>
